<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<div class="row">
    <div class="column">
        <button type="button" onclick="alert('Hello world!')"><h1>Split PDF</h1></button>
        <h3>Separate a PDF file into independent PDF files.</h3>
    </div>
    <div class="column">
        <button type="button" onclick="alert('Hello world!')"><h1>Merge PDFs</h1></button>
        <h3>Merge PDF files into a single PDF file.</h3>
    </div>
</div>
</body>
</html>